In [ ]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#Импорт данных

In [ ]:
data = pd.read_excel('gdrive/My Drive/Test_bestplace/ООО_Внимание_к_деталям.xlsx')

In [ ]:
data.head(3)

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478.0,без сквозного прохода,130000.0,ТЦ,...,3.0,с 10:00 до 22:00,NaN,0.0,0.0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332.0,сквозной проход,31500.0,ТЦ,...,1.0,с 10:00 до 22:00,NaN,0.0,1.0,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356.0,без сквозного прохода,36000.0,ТЦ,...,1.0,с 10:00 до 22:00,3.0,0.0,1.0,1.0,6.0,49.959831,68.727273,Обучающая

In [ ]:
data1 = pd.read_excel('gdrive/My Drive/Test_bestplace/ООО_Внимание_к_деталям.xlsx', sheet_name=1)

In [ ]:
data1.head(3)

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667

#Проверка данных

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id точки             245 non-null    float64
 1   Адрес                246 non-null    object
 2   Широта               242 non-null    float64
 3   Долгота              242 non-null    float64
 4   Дата открытия        246 non-null    object
 5   Дата закрытия        9 non-null      datetime64[ns]
 6   Площадь магазина     246 non-null    float64
 7   Тип входа            244 non-null    object
 8   Площадь ТЦ           204 non-null    float64
 9   Формат магазина      246 non-null    object
 10  Парковка             226 non-null    object
 11  Этаж                 241 non-null    object
 12  Время работы         232 non-null    object
 13  Заполненность ТЦ     182 non-null    float64
 14  Рядом с эскалатором  246 non-null    float64
 15  Рядом со входом      246 non-null    float64
 16  Конкуренты в ТЦ      94 non-null     float64
 17  Расположение в ТЦ    224 non-null    float64
 18  Толока               246 non-null    float64
 19  Люкс                 246 non-null    float64
 20  Выборка              245 non-null    object
dtypes: datetime64[ns](1), float64(12), object(8)
memory usage: 40.5+ KB

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 47 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id точки    152 non-null    float64
 1   2015-01-01  116 non-null    float64
 2   2015-02-01  116 non-null    float64
 3   2015-03-01  116 non-null    float64
 4   2015-04-01  116 non-null    float64
 5   2015-05-01  117 non-null    float64
 6   2015-06-01  117 non-null    float64
 7   2015-07-01  117 non-null    float64
 8   2015-08-01  118 non-null    float64
 9   2015-09-01  119 non-null    float64
 10  2015-10-01  119 non-null    float64
 11  2015-11-01  120 non-null    object
 12  2015-12-01  126 non-null    object
 13  2016-01-01  127 non-null    object
 14  2016-02-01  130 non-null    object
 15  2016-03-01  131 non-null    object
 16  2016-04-01  131 non-null    object
 17  2016-05-01  131 non-null    object
 18  2016-06-01  129 non-null    float64
 19  2016-07-01  132 non-null    float64
 20  2016-08-01  137 non-null    float64
 21  2016-09-01  137 non-null    float64
 22  2016-10-01  141 non-null    float64
 23  2016-11-01  141 non-null    object
 24  2016-12-01  143 non-null    object
 25  2017-01-01  143 non-null    object
 26  2017-02-01  143 non-null    object
 27  2017-03-01  144 non-null    float64
 28  2017-04-01  145 non-null    float64
 29  2017-05-01  144 non-null    float64
 30  2017-06-01  145 non-null    float64
 31  2017-07-01  147 non-null    float64
 32  2017-08-01  147 non-null    float64
 33  2017-09-01  148 non-null    float64
 34  2017-10-01  151 non-null    float64
 35  2017-11-01  151 non-null    float64
 36  2017-12-01  152 non-null    float64
 37  2018-01-01  151 non-null    float64
 38  2018-02-01  151 non-null    float64
 39  2018-04-01  152 non-null    float64
 40  2018-05-01  151 non-null    float64
 41  2018-06-01  151 non-null    float64
 42  2018-07-01  151 non-null    float64
 43  2018-08-01  153 non-null    float64
 44  2018-09-01  153 non-null    float64
 45  2018-10-01  152 non-null    float64
 46  2018-11-01  153 non-null    float64
dtypes: float64(36), object(11)
memory usage: 57.0+ KB

Спросить про пропуски в ячейках

In [ ]:
data1.isnull().sum()

id точки       3
2015-01-01    39
2015-02-01    39
2015-03-01    39
2015-04-01    39
2015-05-01    38
2015-06-01    38
2015-07-01    38
2015-08-01    37
2015-09-01    36
2015-10-01    36
2015-11-01    35
2015-12-01    29
2016-01-01    28
2016-02-01    25
2016-03-01    24
2016-04-01    24
2016-05-01    24
2016-06-01    26
2016-07-01    23
2016-08-01    18
2016-09-01    18
2016-10-01    14
2016-11-01    14
2016-12-01    12
2017-01-01    12
2017-02-01    12
2017-03-01    11
2017-04-01    10
2017-05-01    11
2017-06-01    10
2017-07-01     8
2017-08-01     8
2017-09-01     7
2017-10-01     4
2017-11-01     4
2017-12-01     3
2018-01-01     4
2018-02-01     4
2018-04-01     3
2018-05-01     4
2018-06-01     4
2018-07-01     4
2018-08-01     2
2018-09-01     2
2018-10-01     3
2018-11-01     2
dtype: int64

Спросить про пропуски в выручке, особенно с начала 2015 по середину 2017 года

## Количетсво полных дубликатов в таблице с торговыми точками

In [ ]:
data.duplicated().sum()

1

In [ ]:
data[data.duplicated()]

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
238,42645.0,"Респ. Татарстан, г. Нижнекамск, ул. Химиков, д...",51.814376,55.631285,2006-04-16 00:00:00,NaT,255.0,без сквозного прохода,2887.0,Мини ТЦ,...,1.0,с 9:00 до 21:00,3.0,1.0,1.0,NaN,10.0,29.981741,54.62069,Обучающая

In [ ]:
data.drop_duplicates(inplace=True) #удалим дубликат

## Просмотр повторяющихся значений отдельно по столбцам (примем что уникальными должны быть как минимум id и адрес)

In [ ]:
for names, values in data.iloc[:, 0:2].iteritems():
  print('*********************************************************************************')
  print(f'Столбец в котором обнаружено повторение: {names}')
  print(data[data[names].duplicated()])

*********************************************************************************
Столбец в котором обнаружено повторение: id точки
     id точки                                           Адрес     Широта  \
195   42683.0  Россия, Пермский край, Пермь, улица Попова, 16  56.228132

       Долгота        Дата открытия Дата закрытия  Площадь магазина  \
195  58.008433  2012-07-15 00:00:00           NaT             277.0

                 Тип входа  Площадь ТЦ Формат магазина  ... Этаж  \
195  без сквозного прохода      6400.0         Мини ТЦ  ...  1.0

         Время работы Заполненность ТЦ  Рядом с эскалатором  Рядом со входом  \
195  с 10:00 до 21:00              NaN                  0.0              0.0

     Конкуренты в ТЦ  Расположение в ТЦ     Толока       Люкс    Выборка
195              NaN                8.0  33.196617  63.896552  Обучающая

[1 rows x 21 columns]
*********************************************************************************
Столбец в котором обнаружено повторение: Адрес
    id точки                                              Адрес     Широта  \
77   42085.0  г. Санкт-Петербург, пл. Александра Невского, д...  30.386566

      Долгота        Дата открытия Дата закрытия  Площадь магазина  \
77  59.924573  2007-06-20 00:00:00           NaT             313.0

                 Тип входа  Площадь ТЦ Формат магазина  ... Этаж  \
77  отдельный вход с улицы     90000.0              ТЦ  ...  1.0

        Время работы Заполненность ТЦ  Рядом с эскалатором  Рядом со входом  \
77  с 10:00 до 21:00              NaN                  0.0              1.0

    Конкуренты в ТЦ  Расположение в ТЦ     Толока       Люкс    Выборка
77              0.0               10.0  51.431866  67.137931  Обучающая

[1 rows x 21 columns]

## Количество полных дубликатов в таблице с выручкой

In [ ]:
data1.duplicated().sum()

0

## Посчитаем количество значений в столбцах (нас интересуют побольшей части категориальные признаки, т.к. в данных есть неоднородность обозначений)

In [ ]:
for names, values in data.iloc[:, np.r_[7, 9:21]].iteritems():
  print('*********************************************************************************')
  print(f'Количество значений в столбце {names}:')
  print(data[names].value_counts(dropna = False))

*********************************************************************************
Количество значений в столбце Тип входа:
без сквозного прохода                       138
сквозной проход                              46
отдельный вход с улицы                       36
отдельный вход с улицы + сквозной проход     17
единственный вход в ТК                        6
NaN                                           2
Name: Тип входа, dtype: int64
*********************************************************************************
Количество значений в столбце Формат магазина:
ТЦ         191
Мини ТЦ     27
Street      18
Стрит        4
Мини-ТЦ      3
Strееt       1
Стрт         1
Name: Формат магазина, dtype: int64
*********************************************************************************
Количество значений в столбце Парковка:
бесплатная парковка    155
нет парковки            34
платная парковка        31
NaN                     20
100.0                    2
1000.0                   1
700.0                    1
бесплатная паpковка      1
Name: Парковка, dtype: int64
*********************************************************************************
Количество значений в столбце Этаж:
1.0                    215
3.0                     10
2.0                      7
цоколь                   5
NaN                      5
4.5                      1
20.0                     1
2019-05-02 00:00:00      1
Name: Этаж, dtype: int64
*********************************************************************************
Количество значений в столбце Время работы:
с 10:00 до 22:00                                                            129
с 10:00 до 21:00                                                             63
NaN                                                                          14
с 9:00 до 21:00                                                               7
Вс-Чт с 10:00 до 22:00 Пт-Сб с 10:00 до 23:00                                 4
Пн-Сб с 10:00 до 21:00  Вс с 11:00 до 21:00                                   3
с 10:00 до 23:00                                                              3
с 11:00 до 21:00                                                              2
c 9:00 до 21:00                                                               2
Вс-Чт c 10:00 до 23:00           Пт-Сб с 10:00 до 24:00                       2
c 10-00 до 21-00                                                              1
Вс-Чт с 10:00 до 23:00 Пт-Сб с 10:00 до 24:00                                 1
Вс-Чт c 10:00 до 21:00    Пт-Сб с 10:00 до 22:00                              1
Пн-Сб с 10:00 до 20:00 Вс с 10:00 до 19:00                                    1
Вс-Чт с 10:00 до 21:00     Пт-Сб с  10:00 до 22:00                            1
Вс-Чт с 10:00 до 22:00    Пт-Сб с 10:00 до 23:00                              1
Пн-Сб c 10:00 до 20:00 Вс с 10:00 до 19:00                                    1
с 10:00 до 22:00                                                              1
Вс-Чт c 10:00 до 21:00           Пт-Сб с 10:00 до 22:00                       1
Вс-Чт c 10:00 до 22:00           Пт-Сб с 10:00 до 23:00                       1
с 9:00 до 23:00                                                               1
c 10:00 до 24:00                                                              1
Пн-Пт с 9:00 до 20:00    Сб с 10:00 до 19:00         Вс с 10:00 до 18:00      1
Пн-Сб с 10:00 до 21:00 Вс с 10:00 до 20:00                                    1
с 10:00 до 20:00                                                              1
с 10-00 до 22:00                                                              1
Name: Время работы, dtype: int64
*********************************************************************************
Количество значений в столбце Заполненность ТЦ:
3.0    120
NaN     64
2.0     35
1.0     17
0.0      9
Name: Заполненность ТЦ, dtype: int64
*********************************************************************************
Количество значений в столбце Рядом с эскалатором:
0.0    136
1.0    108
2.0      1
Name: Рядом с эскалатором, dtype: int64
*********************************************************************************
Количество значений в столбце Рядом со входом:
0.0    130
1.0    112
2.0      2
3.0      1
Name: Рядом со входом, dtype: int64
*********************************************************************************
Количество значений в столбце Конкуренты в ТЦ:
NaN    151
1.0     46
0.0     35
2.0     12
3.0      1
Name: Конкуренты в ТЦ, dtype: int64
*********************************************************************************
Количество значений в столбце Расположение в ТЦ:
10.0    37
9.0     33
8.0     30
7.0     22
NaN     22
11.0    16
6.0     15
5.0     15
4.0     14
12.0    11
3.0      7
13.0     6
14.0     5
2.0      5
1.0      3
1.5      1
10.5     1
0.0      1
7.5      1
Name: Расположение в ТЦ, dtype: int64
*********************************************************************************
Количество значений в столбце Толока:
248.234096    2
28.381511     2
35.277917     2
93.000000     2
51.027292     2
             ..
59.115702     1
31.695752     1
35.258120     1
32.486835     1
27.845666     1
Name: Толока, Length: 228, dtype: int64
*********************************************************************************
Количество значений в столбце Люкс:
62.758621    3
73.965517    3
70.379310    3
64.034483    3
66.000000    2
            ..
68.363636    1
48.413793    1
74.172414    1
57.448276    1
47.896552    1
Name: Люкс, Length: 212, dtype: int64
*********************************************************************************
Количество значений в столбце Выборка:
Обучающая    155
Тестовая      77
-             10
NaN            1
Тест           1
Обyчающая      1
Name: Выборка, dtype: int64

#Ответы на вопросы:

## Количество магазинов формата street в тестовой выборке

In [ ]:
street_count = data[data['Выборка']=='Тестовая']['Формат магазина'].value_counts()

In [ ]:
street_count

ТЦ         63
Мини ТЦ     6
Стрит       3
Street      3
Strееt      1
Мини-ТЦ     1
Name: Формат магазина, dtype: int64

Таких магазинов 7.

In [ ]:
print(f'Количество магазинов формата street в тестовой выборке: %s' % (street_count[2:5].sum()))

Количество магазинов формата street в тестовой выборке: 7

##Какова средняя выручка магазинов формата мини ТЦ за 2016

In [ ]:
indx = data[data['Формат магазина'].isin(['Мини ТЦ','Мини-ТЦ'])]['id точки'].dropna()

In [ ]:
cut = data1.loc[data1['id точки'].isin(indx)]

In [ ]:
cut.head(3)

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
11,18728.0,337679.02,505983.520415,615360.263226,500352.832,425920.356129,430724.373333,375469.775484,393728.196129,424960.032,...,373410.949707,468561.200000,399674.202667,407408.598710,400067.472,347254.880000,394659.819355,365415.978293,434216.701935,467342.736
14,41824.0,294160.86,332418.278571,420586.925516,343592.490,304774.200000,286569.600000,276055.519355,281996.941935,318999.450,...,284639.819100,320274.064286,282319.110000,283913.593548,282723.540,245294.738710,261821.583871,258710.340000,297493.141935,306374.580
23,41933.0,109865.82,126723.117857,152200.364516,107882.820,91019.583871,99189.210000,95974.809677,97722.667742,99790.740,...,137483.579100,142133.207143,108691.770000,109184.160000,113969.910,106091.883871,119400.474194,100425.300000,113579.506452,120492.780

In [ ]:
cut = cut.iloc[:, 13:25]

In [ ]:
cut.head()

,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,sum
11,367034.64,518191.52,612575.473548,462814.8,477767.72129,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809.077707,856554.5744,2.080565e+06
14,288251.64,380476.893103,409749.793548,335297.01,341503.345161,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311294.64,588298.821097,1.558781e+06
23,96125.46,131703.051724,166441.23871,103033.83,109410.63,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102602.67,228666.224032,5.574524e+05
42,618664.28442,778685.648276,948356.72129,610125.39,648604.550319,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627179.86758,1422015.153503,2.945211e+06
56,157156.285333,219535.906897,263464.079355,180751.274,174377.539355,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834.140093,288096.281471,9.477885e+05

In [ ]:
cut['sum'] = cut.sum(axis=1)

In [ ]:
mean_rev = cut['sum'].mean()

In [ ]:
print(f'Средняя выручка магазинов формата Мини ТЦ: {mean_rev: .2f}')

Средняя выручка магазинов формата Мини ТЦ:  1406449.74

##Сколько магазинов с бесплатной парковкой?

In [ ]:
parking_count = data['Парковка'].value_counts()

In [ ]:
parking_count

бесплатная парковка    155
нет парковки            34
платная парковка        31
100.0                    2
1000.0                   1
700.0                    1
бесплатная паpковка      1
Name: Парковка, dtype: int64

In [ ]:
print(f'Количество магазинов с бесплатной парковкой: %s' % (parking_count[0]+parking_count[6]))

Количество магазинов с бесплатной парковкой: 156